table {

    margin-left: auto; 
    margin-right: auto;
    width: 75%;
	height: 500px;
}

td {

    text-align: center;
}

#cuadro1 {

    height: 50px;
}

#cuadro2 {

    height: 50px;

}

#botones {

    text-align: center;
    
}